{% extends 'base.html.twig' %}

{% block title %}NAP-BISMUTH{% endblock %}

{% block body %}

    <img class="imgBismuth" src="{{ asset('assets/images/bismuth.png') }}"><br><br>
    
    <div id="textBismuth">
		<p class="text-justify">
			{{ groupe.description}}
		</p>
    </div>

    <div id="player">
        <audio title="Résistance" preload="auto" controls="controls" contenteditable="false" >
        <source src="{{ asset('assets/audio/resistance.mp3') }}">
        </audio>
    </div>
{% endblock %}
