{% extends 'base.html.twig' %}

{% block title %}NAP-DJOH{% endblock %}

{% block body %}
<h1>DJOH</h1><br>
    <div id="textDjoh">
		<p class="text-justify">
			{{ groupe.description}}
		</p>
    </div>
{% endblock %}
