{% extends 'base.html.twig' %}

{% import 'groupe/afficherDates.html.twig' as afficherDate %}

{% block title %}NAP-DJOH{% endblock %}

{% block body %}
<h1>DJOH</h1><br>
    <div id="textDjoh">
		<p class="text-justify">
			{{ groupe.description}}
		</p>
    </div>

	<br>
{{afficherDate.mainLoop(groupe.concerts)}}

{% endblock %}
