{% extends 'base.html.twig' %}

{% block title %}NAP-Entertain Us{% endblock %}

{% block body %}
    <img class="imgEntertainus" src="{{ asset('assets/images/entertainus.png')|imagine_filter('logo2') }}"><br><br>
    <div id="textentertainUs">
		<p class="text-justify">
			{{ groupe.description}}
		</p>
    </div>
{% endblock %}
