{% extends 'base.html.twig' %}

{% block title %}NAP-BISMUTH{% endblock %}

{% block body %}

    <img class="imgBismuth" src="{{ asset('assets/images/bismuth.png') }}"><br><br>
    
    <div id="textBismuth">
        {% for groupe in listeGroupe %}
			{% if groupe.nomGroupe ==  'Bismuth' %}
				<p class="text-justify">
					{{ groupe.description}}
				</p>
			{% endif %}
		{% else %}
			<p colspan="6">Groupe non trouvé</p>
		{% endfor %}
    </div>

    <div id="player">
        <audio title="Résistance" preload="auto" controls="controls" contenteditable="false" >
        <source src="{{ asset('assets/audio/resistance.mp3') }}">
        </audio>
    </div>
{% endblock %}
