{% extends 'base.html.twig' %}

{% block title %}NAP-Newsletter
{% endblock %}

{% block body %}

	<h1>Nouveau concert programmé</h1>
	{# <p>
		{{ concert.date|date('d/m/y')}}
		-
		{{ concert.band }}
		-
		{{ concert.nom }}
		-
		{{ concert.heure|date('H:i') }}
	</p> #}

{% endblock %}
