/**-------- espace adhrents --------**/

#textAdherents {
    margin: 0px 300px;
    font-size: 15px;
    text-align: center;
}

#textAdhrents p {
    margin: 5px;
    font-weight: normal;
}

#titreAdherents {
    font-size: 40px;
    color: #dc0d12;
}

#titreExprime {
    font-size: 30px;
    color: #dc0d12;
}

#titreDocuments {
    font-size: 30px;
    color: #dc0d12;
}

#resumeAdhrents {
    padding-top: 10px;
}


/**-------- Les dirigeants --------**/

#titreDirigeants {
    font-size: 30px;
    color: #dc0d12;
}

#titreDirigeants,
#blocPresident,
#blocTresorier,
#blocSecretaire,
#blocSecretaireAdj,
#blocTresorierAdj {
    display: inline-block;
    justify-content: space-between;
}

.imgTresorierAdj,
.imgPresident,
.imgSecretaireAdj,
.imgTresorier,
.imgSecretaire {
    margin: 10px 10px;
}

#blocs img {
    width: 150px;
    height: 150px;
}

#tofDirigeants {
    width: 200px;
    height: 150px;
    margin: 0;
    padding: 0;
    background: #F4F4F4;
    overflow: hidden;
}


/** ----------------- PDF ----------------------- **/

#docPdf {
    display: flex;
    justify-content: center;
}

.imgPDF {
    margin: 5px 30px;
}

#pdf:hover {
    text-decoration: none;
}


/**------------------ HOVER ADHERENTS -----------------**/

#blocPresident,
#blocTresorier,
#blocSecretaire,
#blocSecretaireAdj,
#blocTresorierAdj {
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
    transition-duration: 1s;
}