{% extends 'base.html.twig' %}

{% block title %}NAP-Dies Irae{% endblock %}

{% block body %}

    <img class="imgDiesirae" src="{{ asset('assets/images/logodies.png')|imagine_filter('logo') }}"><br><br>

    <div id="textDiesirae">
        {% for groupe in listeGroupe %}
			{% if groupe.nomGroupe ==  'Dies Irae' %}
				<p class="text-justify">
					{{ groupe.description}}
				</p>
			{% endif %}
		{% else %}
			<p colspan="6">Groupe non trouvé</p>
		{% endfor %}
    </div>
    <br>
    <br>

    <div id="videoDiesirae">
        <iframe width="700" height="400" src="https://www.youtube.com/embed/q7PJkz69SLk" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}
