{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit {{ user.username }}</h1>
    <div class="form-group col-8 m-auto">
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a type="button" class="btn btn-light btn-lg col-8 m-auto" href="{{ path('user_index') }}">Retour liste</a>

    <a type="button" class="btn btn-danger btn-lg col-8 m-auto">{{ include('user/_delete_form.html.twig') }}</a>
{% endblock %}
