{% extends 'base.html.twig' %}

{% block title %}NAP-NewUser{% endblock %}

{% block body %}
    <h1>Nouvel Utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a type="button" class="btn btn-light btn-lg btn-block" href="{{ path('user_index') }}">Retour liste</a>
{% endblock %}
