{% extends 'base.html.twig' %}

{% block title %}NAP-NewUser{% endblock %}

{% block body %}
    <h1>Nouvel Utilisateur</h1>
    <div class="form-group col-8 m-auto">
        {{ include('user/_form.html.twig') }}
    </div>
    <a type="button" class="btn btn-warning btn-lg col-8 m-auto" href="{{ path('user_index') }}">Retour liste</a>
{% endblock %}
